.register {
  width: 98vw;
    height: 100vh;

  .wrapper {
    display: flex;

    .leftBox {
      flex: 2;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .top {
        .logo {
          img {
            width: 13rem;
          }
        }
      }

      .bottom {
        margin-top: -20px;

        .heading {
          margin-top: 20px;
          font-size: 30px;
          font-weight: 700;
          text-align: center;
          span {
            color: red;
          }
        }

        form {
          padding: 30px;
          background: rgba(178, 153, 153, 0.2);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(178, 153, 153, 0.3);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 600px;

          box-shadow: 10px 9px 8px -5px rgba(0, 0, 0, 0.33);
          -webkit-box-shadow: 10px 9px 8px -5px rgba(0, 0, 0, 0.33);
          -moz-box-shadow: 10px 9px 8px -5px rgba(0, 0, 0, 0.33);

          select {
            appearance: none;
            border: 0;
            outline: 0;
            font: inherit;
            width: 20em;
            height: 3em;
            padding: 0 4em 0 1em;
            background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
                no-repeat right 0.8em center / 1.4em,
              linear-gradient(to left, rgba(182, 93, 93, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
            color:black;
            border-radius: 0.25em;
            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            option {
              color: inherit;
              background-color: purple;
            }
            &:focus {
              outline: none;
            }
            &::-ms-expand {
              display: none;
            }
          }

          
          .group 			  { 
            position:relative; 
            margin-bottom:45px; 

          }
          input 				{
            font-size:18px;
            padding:10px 10px 10px 5px;
            display:block;
            width:300px;
            border:none;
            border-bottom:1px solid #757575;
            background: none;
          }
          input:focus 		{ outline:none; }
          
          /* LABEL ======================================= */
          label 				 {
            color:#999; 
            font-size:18px;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:10px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
          }
          
          /* active state */
          input:focus ~ label, input:valid ~ label 		{
            top:-20px;
            font-size:14px;
            color:#5264AE;
          }
          
          /* BOTTOM BARS ================================= */
          .bar 	{ position:relative; display:block; width:300px; }
          .bar:before, .bar:after 	{
            content:'';
            height:2px; 
            width:0;
            bottom:1px; 
            position:absolute;
            background:#5264AE; 
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
          }
          .bar:before {
            left:50%;
          }
          .bar:after {
            right:50%; 
          }
          
          /* active state */
          input:focus ~ .bar:before, input:focus ~ .bar:after {
            width:50%;
          }
          
          /* HIGHLIGHTER ================================== */
          .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0.5;
          }
          
          /* active state */
          input:focus ~ .highlight {
            -webkit-animation:inputHighlighter 0.3s ease;
            -moz-animation:inputHighlighter 0.3s ease;
            animation:inputHighlighter 0.3s ease;
          }
          
          /* ANIMATIONS ================ */
          @-webkit-keyframes inputHighlighter {
            from { background:#5264AE; }
            to 	{ width:0; background:transparent; }
          }
          @-moz-keyframes inputHighlighter {
            from { background:#5264AE; }
            to 	{ width:0; background:transparent; }
          }
          @keyframes inputHighlighter {
            from { background:#5264AE; }
            to 	{ width:0; background:transparent; }
          }
          

         

          .termsAndConditions {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              margin-right: 10px;
            }
            span {
              color: blue;
              text-decoration: underline;
            }
          }

          .btn {
            width: 350px;
            background-color: lightgreen;
            outline: none;
            border: none;
            height: 30px;
            margin: 10px;
            font-weight: 900;
            color: rgb(70, 67, 67);
          }

          .loginLink {
            margin: 10px;
            margin-bottom: 30px;

            span {
              color: red;
            }
          }
        }
      }
    }

    .rightBox {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 32rem;
        height: 32rem;
      }
    }
  }
}

// ---------------Media Queries------------
@media only screen and (max-width: 1200px) {
  .login {
    .wrapper {
      .leftBox {
        .bottom {
          form {
            width: 490px;
          }
        }
      }
    }
  }
}



@media only screen and (min-width: 600px) and (max-width: 800px){
    .register::before{
      content: '';
              background: url('../../../public//assets/register.png') 
                  no-repeat center center/cover;
              position: absolute;
              opacity: 0.3;
              top: 0px;
              left: 0px;
              width: 100vw;
              height: 100vh;
              z-index: -1;
    }
    .register{
      .wrapper{
        .rightBox{
          display: none;
        }
      }
    }
  }



  @media only screen and (max-width: 600px){
    .register::before{
      content: '';
              background: url('../../../public//assets/register.png') 
                  no-repeat center center/cover;
              position: absolute;
              opacity: 0.3;
              top: 0px;
              left: 0px;
              width: 100vw;
              height: 100vh;
              z-index: -1;
    }
    .register{
      .wrapper{
        .rightBox{
          display: none;
        }
        .leftBox{
          .bottom{
            form{
              width: 300px;

              .inputContainer{
                  width: 175px;
              }
  
              .btn{
                width: 150px;
              }
            }
          }
        }
      }
    }
  }