.bdy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.home {
  // width: 80%;
  height: 90%;
  // text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;

  .left-sec{
    //   flex: 1;
      max-width: 40%;
      align-items: center;
      justify-content: center;
      
  }

  .left-sec h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
    color: #242424;
    margin-top: 100px;
  }

  .left-sec h1 {
    font-size: 55px;
    text-align: center;

    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
  }

  .left-sec p {
    text-align: center;

    margin-bottom: 20px;
  }

  .left-sec button {
    padding: 15px 0px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px;
  }

  .right-sec {
    flex: 1;
    max-width: 70%;
    padding-top: 3em;


    figure {
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 6em;
      img {
        width: 60%;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 836px) {
  .bdy{
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .home{
    flex-direction: column;
    align-items: center;
    // justify-content: center;

  }
  .home{
    width: 100%;
    margin: 0 0;
    justify-items: normal;
    height: 100%;
    .left-sec{
      //   flex: 1;
        max-width: 90%;
         button {
          margin-left: 32%;
         }
    }
  }
  
  .right-sec{
    padding-top: 0;
    max-width: 100%;
    img {
      width: auto;
    }
  }
}