.contact {
  width: 98vw;

  .heading {
    font-size: 3em;
    text-align: center;
    margin: 20px;
    background: -webkit-linear-gradient(#eee, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .location {
      margin: 30px;
      .locationCard {
        margin-top: 50px;
      width: 100%;
      text-align: center;

      .details {
        width: 50%;
        margin: auto;
        -webkit-box-shadow: 1px 5px 15px 4px rgba(0, 0, 0, 0.42);
        box-shadow: 1px 5px 15px 4px rgba(0, 0, 0, 0.42);
        .info {
          margin: 20px;
          background: -webkit-linear-gradient(#eee, #333);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
